.form{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border: solid 1px #a0a0a0;
  border-radius: 50px;
  width: 620px;
  height: max-content;
  background: rgb(243, 243, 243);
}
.fullName{
  display: flex;
  position:relative;
  justify-content: flex-start;
  flex-direction: column;
}
.fullName input{
  width: 400px;
}
.from-to{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.from-to select{
  width: 200px;
  margin-right: 10px;
}
.type-departure-arrival{
  display: flex;
  justify-content: flex-start;
}
.type{
  margin-right: 20px;
}
.departure{
  margin-right: 10px;
}
#errors{
  font-size: 11px;
}
.adult-children-infants{
  display: flex;
  justify-content: flex-start;
}
.adults{
  margin-right: 15px;
}
.children{
  margin-right: 15px;
}
.service{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  width: 612px;
}
.form button{
  color: red;
  background: rgb(255, 255, 255);
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px 20px;
  margin-top: 20px;
  transition-duration: 0.4s;
}
.form button:valid{
  background-color: red;
  color: aliceblue;
}
.form button:valid:hover{
  background-color: rgb(128, 1, 1);
  color: yellow;
}
.service table,thead,tbody,tr,th,td{
  border: solid 1px black;
  padding: 0px 10px;
}
.service table{
  border-collapse: collapse;
  width: 600px;
}
.service thead{
  background-color: #a0a0a0;
}
.service tbody{
  background-color: rgb(240, 240, 240);
}
.service table th{
  padding: 1px 5px;
}
.service table td{
  text-align: center;
  padding: 2px 2px;
}

