<div class="form" [formGroup]="form">
  <h1>Book a Flight</h1>

  <div class="fullName">
    <p><b>Full Name</b></p>
    <input type="text" formControlName="fullName">
    <p id="errors" style="color: red;" *ngIf="form.get('fullName')?.errors?.['required']">Please enter your name.</p>
  </div>

  <div class="from-to">
    <div class="from">
      <p><b>From</b></p>
      <select formControlName="from">
        <option *ngFor="let item of listFrom" [value]="item">{{item}}</option>
      </select>
      <p id="errors" style="color: red;" *ngIf="form.get('from')?.errors?.['required']">Please select "From".</p>
    </div>
    <div class="to">
      <p><b>To</b></p>
      <select formControlName="to">
        <option *ngFor="let item of listTo" [value]="item">{{item}}</option>
      </select>
      <p id="errors" style="color: red;" *ngIf="form.get('to')?.errors?.['required']">Please select "To".</p>
    </div>
  </div>

  <div class="type-departure-arrival">
    <div class="type">
      <p><b>Trip Type</b></p>
      <input type="radio" formControlName="type" value="One way"> One way
      <input type="radio" formControlName="type" value="Return"> Return
      <p id="errors" style="color: red;" *ngIf="form.get('type')?.errors?.['required']">Please select Trip Type.</p>
    </div>
    <div class="departure">
      <p><b>Departure</b></p>
      <input type="date" min="2565-03-01" max="2566-12-31" formControlName="departure">
      <p id="errors" style="color: red;" *ngIf="form.get('departure')?.errors?.['required']">Please select day.</p>
    </div>
    <div class="arrival">
      <p><b>Arrival</b></p>
      <input type="date" min="{{form.get('departure')?.value}}" max="2566-12-31" formControlName="arrival">
      <p id="errors" style="color: red;" *ngIf="form.get('arrival')?.errors?.['required']">Please select day.</p>
    </div>
  </div>

  <div class="adult-children-infants">
    <div class="adults">
      <p><b>Adults</b></p>
      <input type="number" min="0" max="200" formControlName="adults">
      <p id="errors" style="color: red;" *ngIf="form.get('adults')?.errors?.['required']">Please enter number of adult.
      </p>
    </div>
    <div class="children">
      <p><b>Children</b></p>
      <input type="number" min="0" max="200" formControlName="children">
      <p id="errors" style="color: red;" *ngIf="form.get('children')?.errors?.['required']">Please enter number of
        children.</p>
    </div>
    <div class="infants">
      <p><b>Infants</b></p>
      <input type="number" min="0" max="200" formControlName="infants">
      <p id="errors" style="color: red;" *ngIf="form.get('infants')?.errors?.['required']">Please enter number of
        infants.</p>
    </div>

  </div>
  <button type="submit" [disabled]="form.invalid" (click)="onSubmit(form.value)">Submit</button>
</div>
<hr>
<div class="service">
  <table>
    <thead>
      <tr>
        <th>FullName</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Adults</th>
        <th>Children</th>
        <th>Infants</th>
        <th>Departure</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of flights">
        <td>{{f.fullName}}</td>
        <td>{{f.from}}</td>
        <td>{{f.to}}</td>
        <td>{{f.type}}</td>
        <td>{{f.adults}}</td>
        <td>{{f.children}}</td>
        <td>{{f.infants}}</td>
        <td>{{f.departure | date : 'd/M/yy'}}</td>
        <td>{{f.arrival | date : 'd/M/yy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
